
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2.4rem;
  font-size: 1.6rem;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  height: 12.8rem;
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 0.8rem;
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.8rem;
  transition: transform 150ms ease-in-out;
}

.file:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.3rem hsla(0, 0%, 0%, .4);
}

.file.dragging {
  transform: translateY(-5%);
  box-shadow: 0 0.4rem 0.5rem hsla(0, 0%, 0%, .2);
}

.folder {
  width: 400px;
  height: 75vh;
  padding: 1.6rem;
  border: 1px solid hsl(0, 0%, 75%);
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}

.drop-target {
  background-color: hsla(0, 50%, 50%, 0.25);
}